In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
pwd

'/Users/haoliu/Documents/GitHub/Dithionite-Assays/notebooks'

In [5]:
file_path = '../data/Decanoic Assay.xlsx'

In [6]:
# Read all sheets into a dictionary of DataFrames
dfs = pd.read_excel(file_path, sheet_name=None)
print(dfs.keys())

dict_keys(['80 mg (31 mM)', '87 mg (33 mM)', '104 mg (40 mM)', 'Sheet2'])

In [7]:
df_1 = dfs["80 mg (31 mM)"]
df_1

,Unnamed: 0,31 Trial 1,31 Trial 2,31 Trial 3,LN 31 Trial 1,LN 31 Trial 2,LN 31 Trial 3,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,31 Triton Trial 1,31 Triton Trial 2,31 Triton Trial 3,LN 31 Triton Trial 1,LN 31 Triton Trial 2,LN 31 Triton Trial 3,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,time,Intensity,Intensity,Intensity,Natural log (Trial 1),Natural log (Trial 2),Natural log (Trial 3),Slope,R2,slope avg,...,Intensity,Intensity,Intensity,Natural log (trial 1),Natural log (Trial 2),Natural log (Trial 3),Slope,R2,slope avg,standard dev
1,1,52.082999,79.803,48.506,3.952839,4.379561,3.881688,-0.008911,0.888338,-0.010356,...,95.304,65.905,79.755,4.557072,4.188214,4.378959,-0.028036,0.992951,-0.027009,0.001341
2,2,48.437666,77.849333,46.009333,3.880278,4.354775,3.828844,-0.009708,0.961893,NaN,...,91.979333,63.179333,76.676666,4.521564,4.145977,4.339597,-0.025493,0.979942,NaN,NaN
3,3,45.079999,75.929,43.689333,3.808439,4.329799,3.777104,-0.01245,0.930218,NaN,...,88.884999,60.633666,73.661,4.487343,4.10485,4.299473,-0.027499,0.980336,NaN,NaN
4,4,42.095666,74.096333,41.593,3.739945,4.305366,3.727932,NaN,NaN,NaN,...,85.958666,58.373,70.774,4.453867,4.066853,4.259492,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,597,10.003,20.658666,10.016666,2.302885,3.028135,2.30425,NaN,NaN,NaN,...,11.368,11.522333,12.343333,2.430802,2.444287,2.513116,NaN,NaN,NaN,NaN
598,598,10.003,20.663333,10.017333,2.302885,3.028361,2.304317,NaN,NaN,NaN,...,11.394333,11.533666,12.356,2.433116,2.44527,2.514142,NaN,NaN,NaN,NaN
599,599,9.998666,20.688,10.021,2.302452,3.029554,2.304683,NaN,NaN,NaN,...,11.416666,11.55,12.345,2.435074,2.446685,2.513251,NaN,NaN,NaN,NaN
600,600,9.981333,20.684,10.016,2.300717,3.02936,2.304184,NaN,NaN,NaN,...,11.406666,11.534666,12.333,2.434198,2.445357,2.512279,NaN,NaN,NaN,NaN
601,601,9.949999,20.631,9.991,2.297572,3.026795,2.301685,NaN,NaN,NaN,...,11.408,11.519,12.332,2.434315,2.443998,2.512198,NaN,NaN,NaN,NaN

In [8]:
df_2 = dfs["87 mg (33 mM)"]
df_2

,Unnamed: 0,33 Trial 1,33 Trial 2,33 Trial 3,ln 33 Trial 1,ln 33 Trial 2,ln 33 Trial 3,Average,Average.1,Unnamed: 9,...,33-Triton Trial 2,33-Triton Trial 3,ln 33-Triton Trial 1,ln 33-Triton Trial 2,ln 33-Triton Trial 3,Average.2,Average.3,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Time,Intensity,Intensity,Intensity,Natural Log(Trial 1),Natural Log(Trial 2),Natural Log(Trial 3),Intensity,Natural Log (Average),Slopes,...,Intensity,Intensity,Natural Log(Trial 1),Natural Log(Trial 2),Natural Log(Trial 3),Intensity,Natural Log (Average),Slopes,R2,NaN
1,1,107.294,99.563999,90.448999,4.675573,4.600801,4.504786,99.102333,4.596153,-0.006422,...,92.480999,84.046,4.335263,4.527003,4.431364,84.290666,4.434271,-0.010529,0.977014,NaN
2,2,105.930333,98.596666,90.141666,4.662782,4.591037,4.501382,98.222888,4.587239,-0.002874,...,90.755666,81.804999,4.308447,4.508171,4.404338,82.295221,4.410313,-0.012239,0.994275,NaN
3,3,104.740666,97.866,89.741,4.651487,4.583599,4.496928,97.449222,4.579331,-0.002645,...,89.084999,79.616999,4.277582,4.489591,4.377228,80.255999,4.385222,-0.009533,0.986205,NaN
4,4,103.615,97.532333,89.283999,4.640682,4.580184,4.491822,96.810444,4.572755,Average Slope,...,87.458333,77.497666,4.24388,4.471162,4.350248,78.211222,4.359413,Average Slope,NaN,Standard Deviation
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,597,13.279333,30.068,36.311333,2.586209,3.403461,3.59213,26.552889,3.279139,NaN,...,12.500333,12.82,2.316422,2.525755,2.551006,11.819889,2.469784,NaN,NaN,NaN
598,598,13.28,30.017333,36.241666,2.586259,3.401775,3.590209,26.513,3.277635,NaN,...,12.492333,12.792666,2.320065,2.525115,2.548872,11.820444,2.469831,NaN,NaN,NaN
599,599,13.283666,30.007666,36.243333,2.586535,3.401453,3.590255,26.511555,3.277581,NaN,...,12.494666,12.787333,2.321211,2.525302,2.548455,11.823333,2.470075,NaN,NaN,NaN
600,600,13.291333,29.98,36.225666,2.587112,3.40053,3.589768,26.499,3.277107,NaN,...,12.527,12.799333,2.320359,2.527886,2.549393,11.835222,2.47108,NaN,NaN,NaN
601,601,13.345,29.9,36.178,2.591142,3.397858,3.588451,26.474333,3.276176,NaN,...,12.546,12.829,2.314019,2.529402,2.551708,11.83,2.470639,NaN,NaN,NaN